<h3>Wczytaj plik z otwartymi zamówieniami</h3>

<%= simple_form_for @open_order_file do |f| %>
    <%= f.input :open_orders_date, label: "Data zamówienia" %>
    <%= f.input :file, label: "Wybierz plik", input_html: { accept: ".csv" } %>
    <%= f.button :submit, "Wczytaj zamówienie", class: "btn btn-primary" %>
<% end %>