<h3>Stan magazynu</h3>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Data wczytanego pliku</th>
            <th>Numer produktu</th>
            <th>Nazwa produktu</th>
            <th>Ilość w magazynie</th>
        </tr>
    </thead>
    <tbody>
        <% @stock.each do |row| %>
        <tr>
            <td><%= row.stock_file.stock_date %></td>
            <td><%= row.product.customer_id_number %></td>
            <td><%= row.product.name %></td>
            <td><%= row.quantity_in_stock %></td>
        </tr>

        <% end %>
    </tbody>
</table>
