<h3>Lista prognoz IKEA</h3>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Plik</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        <% @spi_files.each do |spi_file| %>
            <tr>
                <td><%= spi_file.id %></td>
                <td><%= spi_file.spi_date %></td>
                <td><%= spi_file.name%></td>
                <td><%= link_to  "Pokaż", spi_file_path(spi_file), class: "btn btn-default btn-xs" %></td>
            </tr>
        <% end %>
    </tbody>
</table>
